* {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
}
.contenido {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main {
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
}
.footer {
    background: #222;
    flex-basis: 50px;
}
.menu {
    background: #222;
    flex-basis: 70px;
    display: flex;
    width: 100vw;
    align-items: center;
}
.logo {
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
}
.logo1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.menu_items {
    list-style: none;
    width: 100vw;
    text-align: center;
}
.menu_items-li {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 0 5px;
    padding: 10px;
}
.menu_items-li a {
    text-decoration: none;
    width: 1px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.menu_items-li i {
    padding: 5px;
    text-align: center;
    width: 1px;
    box-sizing: border-box;
    text-align: right;
    color: #fff;
}
.menu_items-li :hover > a {
    background: #999;
    transition: .4s;
}
.menu_items-li :hover {
    background: #999;
    transition: .4s;
}
.boton_menu {
    padding-right: 50px;
    font-size: 30px; 
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.activar {
    top: 60px;
}
@media screen and (max-width: 970px){
    .menu {
        height: 60px;
    }
    .logo1 {
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }
    .boton_menu {
        display: flex;
        margin-left: auto;
        margin-right: 25px;
    }
    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 60px);
        background: #222;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        display: flex;
        flex-direction: column;
    }
    .menu_items-li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items-li :hover {
        background: none;
    }
    .menu_items-li >a {
        width: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items-li :hover> a {
        color: #999;
    }
    .logo {
        width: 25px;
        margin-left: 30px;
    }
}
.footer h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin: 25px;
}