* {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
    color: #fff;
}
.contenido {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
}
.main {
    display: flex;
    justify-content: space-evenly;
    height: 100wh;
    flex-basis: 100vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap:  wrap;
}
.footer {
    flex-grow: 0;
    width: 100vw;
    height: 50px;
    flex-shrink: 0;
    align-self: flex-end;
    background: #222;
}
.menu {
    flex-grow: 0;
    width: 100vw;
    align-self: flex-start;
    flex-shrink: 0;
    height: 70px;
    padding: 20px 0;
    background: #222;
    display: flex;
    align-items: center;
}
.logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 70px;
    margin-right: 10px;
}
.logo1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.menu_items {
    list-style: none;
    width: 100vw;
    text-align: center;
}
.menu_items-li {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 0 5px;
    padding: 10px;
}
.menu_items-li a {
    text-decoration: none;
    width: 1px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.menu_items-li i {
    padding: 5px;
    text-align: center;
    width: 1px;
    box-sizing: border-box;
    text-align: right;
}
.menu_items-li :hover > a {
    background: #999;
    transition: .4s;
}
.menu_items-li :hover {
    background: #999;
    transition: .4s;
}
.titulo_responsive {
    display: none;
}
.boton_menu {
    padding-right: 50px;
    font-size: 30px; 
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.activar {
    top: 60px;
}
@media screen and (max-width: 840px){
    .menu {
        width: 100vw;
        height: 60px;
    }
    .logo1 {
        margin-left: 20px;
        width: 50px;
        height: 50px;
    }
    .boton_menu {
        display: flex;
        margin-left: auto;
        margin-right: 25px;
    }
    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 60px);
        background: #222;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        display: flex;
        flex-direction: column;
    }
    .menu_items-li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items-li :hover {
        background: none;
    }
    .menu_items-li >a {
        width: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items-li :hover> a {
        color: #999;
    }
    .logo {
        width: 25px;
        margin-left: 30px;
    }
    .titulo_responsive {
        display: flex;
        width: 100vh;    
    }
    h3 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
    }
}
.footer h2 {
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin: 20px;
}
.titulo {
    display: flex;
}
.titulo-h2 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 10px;
}
b {
    color: red;
}
.main div {
    padding: 10px;
    flex-basis: 600px;
    height: 300px;
    margin: 20px ;
    border-radius: 20px;
    border: 5px solid #999;
}
.main div img {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 20px;
    float: left;
}